html {
  min-height: 150px;
  min-width: 200px;
}

body,
p {
  margin: 0;
}

.extension-title {
  margin: 10px;
  color: gray;
  font-size: 0.8rem;
}

button {
  width: 100%;
  background: none;
  border: none;
  height: 35px;
  cursor: pointer;
  text-align: left;
  padding: 0 10px;
  margin: 0;
}

button:hover,
button:active,
button:focus {
  background: #eee;
}

hr {
  margin: 0;
}
