html {
  min-height: 150px;
  min-width: 200px;
}

body,
p {
  margin: 0;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center;
}

.extension-title {
  margin: 10px;
  color: gray;
  font-size: 0.8rem;
}

button.block-button {
  width: 100%;
  background: none;
  border: none;
  height: 35px;
  cursor: pointer;
  text-align: left;
  padding: 0 10px;
  margin: 0;
}

button.block-button:hover,
button.block-button:active,
button.block-button:focus {
  background: #eee;
}

span.button {
  cursor: pointer;
  user-select: none;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
}

span.button:hover {
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}

button.button {
  padding: 5px 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background-color: #fff;
  color: #5d9896;
  box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 5%);
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

button.button:hover {
  background-color: #5d9896;
  color: #fff;
}

input {
  outline: none;
  border: 2px solid #eaeaea;
  border-radius: 5px;
  height: 20px;
}

input:focus,
input:focus-visible {
  border-color: #5d9896;
}

hr {
  margin: 0;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 11;
}

#window-select p {
  margin: 10px 5px;
}

#window-list {
  height: calc(100% - 34px);
  overflow-y: auto;
}

#save-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
